In [2]:
import pandas as pd

In [3]:
df_data = pd.read_csv("/kaggle/input/imdb-title-with-person-name/final_rating_table/final_rating_table.tsv",sep='\t')
df_data.head()

,tconst,averageRating,language,titleType,primaryTitle,isAdult,startYear,runtimeMinutes,genres,director,editor,writer,actor_actress
0,tt0000005,6.2,en,short,Blacksmith Scene,0,1893,1,"Comedy,Short",william k.l. dickson,Unknown,Unknown,"charles kayser,john ott"
1,tt0000010,6.9,sv,short,Leaving the Factory,0,1895,1,"Documentary,Short",louis lumière,Unknown,Unknown,Unknown
2,tt0000012,7.4,tr,short,The Arrival of a Train,0,1896,1,"Documentary,Short","auguste lumière,louis lumière",Unknown,Unknown,Unknown
3,tt0000013,5.7,en,short,The Photographical Congress Arrives in Lyon,0,1895,1,"Documentary,Short",louis lumière,Unknown,Unknown,Unknown
4,tt0000014,7.1,sv,short,The Waterer Watered,0,1895,1,"Comedy,Short",louis lumière,Unknown,Unknown,"françois clerc,benoît duval"

In [4]:
# df_data['genres'] = df_data['genres'].str.split(',')
# df_data['director'] = df_data['director'].str.split(',')
# df_data['editor'] = df_data['editor'].str.split(',')
# df_data['writer'] = df_data['writer'].str.split(',')
# df_data['actor_actress'] = df_data['actor_actress'].str.split(',')
df_data.head()

,tconst,averageRating,language,titleType,primaryTitle,isAdult,startYear,runtimeMinutes,genres,director,editor,writer,actor_actress
0,tt0000005,6.2,en,short,Blacksmith Scene,0,1893,1,"Comedy,Short",william k.l. dickson,Unknown,Unknown,"charles kayser,john ott"
1,tt0000010,6.9,sv,short,Leaving the Factory,0,1895,1,"Documentary,Short",louis lumière,Unknown,Unknown,Unknown
2,tt0000012,7.4,tr,short,The Arrival of a Train,0,1896,1,"Documentary,Short","auguste lumière,louis lumière",Unknown,Unknown,Unknown
3,tt0000013,5.7,en,short,The Photographical Congress Arrives in Lyon,0,1895,1,"Documentary,Short",louis lumière,Unknown,Unknown,Unknown
4,tt0000014,7.1,sv,short,The Waterer Watered,0,1895,1,"Comedy,Short",louis lumière,Unknown,Unknown,"françois clerc,benoît duval"

In [4]:
df_data['isAdult'] = pd.to_numeric(df_data['isAdult'], errors='coerce')
df_data['runtimeMinutes'] = pd.to_numeric(df_data['runtimeMinutes'], errors='coerce')
df_data['averageRating'] = pd.to_numeric(df_data['averageRating'], errors='coerce')
df_data.head()

,tconst,averageRating,language,titleType,primaryTitle,isAdult,startYear,runtimeMinutes,genres,director,editor,writer,actor_actress
0,tt0000005,6.2,en,short,Blacksmith Scene,0,1893,1.0,"Comedy,Short",william k.l. dickson,Unknown,Unknown,"charles kayser,john ott"
1,tt0000010,6.9,sv,short,Leaving the Factory,0,1895,1.0,"Documentary,Short",louis lumière,Unknown,Unknown,Unknown
2,tt0000012,7.4,tr,short,The Arrival of a Train,0,1896,1.0,"Documentary,Short","auguste lumière,louis lumière",Unknown,Unknown,Unknown
3,tt0000013,5.7,en,short,The Photographical Congress Arrives in Lyon,0,1895,1.0,"Documentary,Short",louis lumière,Unknown,Unknown,Unknown
4,tt0000014,7.1,sv,short,The Waterer Watered,0,1895,1.0,"Comedy,Short",louis lumière,Unknown,Unknown,"françois clerc,benoît duval"

In [5]:
df_data['startYear'] = pd.to_datetime(df_data['startYear'], format='%Y', errors='coerce')
df_data.head()

,tconst,averageRating,language,titleType,primaryTitle,isAdult,startYear,runtimeMinutes,genres,director,editor,writer,actor_actress
0,tt0000005,6.2,en,short,Blacksmith Scene,0,1893-01-01,1.0,"Comedy,Short",william k.l. dickson,Unknown,Unknown,"charles kayser,john ott"
1,tt0000010,6.9,sv,short,Leaving the Factory,0,1895-01-01,1.0,"Documentary,Short",louis lumière,Unknown,Unknown,Unknown
2,tt0000012,7.4,tr,short,The Arrival of a Train,0,1896-01-01,1.0,"Documentary,Short","auguste lumière,louis lumière",Unknown,Unknown,Unknown
3,tt0000013,5.7,en,short,The Photographical Congress Arrives in Lyon,0,1895-01-01,1.0,"Documentary,Short",louis lumière,Unknown,Unknown,Unknown
4,tt0000014,7.1,sv,short,The Waterer Watered,0,1895-01-01,1.0,"Comedy,Short",louis lumière,Unknown,Unknown,"françois clerc,benoît duval"

In [26]:
# print(df_persons_name['nm0005690'])
# result = df_data[df_data['runtimeMinutes'] == 60]

# Display the result (which may contain multiple rows if there are duplicates)
# print(result)

# **Modal Training**

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [7]:
sampled_data = df_data.sample(frac=1, random_state=42)

In [23]:
# sampled_data.shape

In [8]:
X = sampled_data[['language', 'titleType', 'isAdult','startYear', 'runtimeMinutes', 'genres', 'director', 'editor', 'writer', 'actor_actress']]
y = sampled_data['averageRating']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
# Step 2: Feature Engineering
# For simplicity, we'll one-hot encode the 'language' column and standardize the 'duration' and 'release_date' columns
categorical_features = ['language', 'titleType', 'genres', 'director', 'editor', 'writer', 'actor_actress','startYear']
numeric_features = ['isAdult', 'runtimeMinutes']

# Create transformers for numerical and categorical features
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),  # Handle missing values with median
    ('scaler', StandardScaler())  # Standardize numeric features
])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Combine transformers for all features
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [26]:

# Switching from CPU to GPU for machine learning tasks can significantly accelerate your model training, especially if you are working with deep learning models that require a lot of computational power. Here's a step-by-step guide on how to do it:

# Check CUDA Support:
# First, you need to ensure that your GPU supports CUDA and that you have the necessary drivers installed. You can check this by running the following code in Python:

# python
# Copy code
# import torch

# if torch.cuda.is_available():
#     print("CUDA is available. You can use a GPU for training.")
# else:
#     print("CUDA is not available. You can only use CPU.")
# This code will tell you if CUDA is available on your system.

# Install Required Libraries:
# If you have CUDA support, you'll need to install the appropriate libraries that enable GPU support for machine learning frameworks like TensorFlow or PyTorch. You can install these libraries using pip:

# For PyTorch:

# bash
# Copy code
# pip install torch torchvision
# For TensorFlow:

# bash
# Copy code
# pip install tensorflow
# Modify Your Code:
# To use GPU instead of CPU for training your ML model, you need to make a few modifications to your code. Generally, you'll need to move your model and data to the GPU and perform computations there. Here's an example using PyTorch:

# python
# Copy code
# import torch

# # Check for GPU availability
# if torch.cuda.is_available():
#     device = torch.device("cuda")
# else:
#     device = torch.device("cpu")

# # Move your model to the GPU
# model.to(device)

In [10]:
model = LinearRegression()

clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('model', model)])

#  Model Training
clf.fit(X_train, y_train)

#  Model Evaluation
y_pred = clf.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print('Your model is ready')

Your model is ready

In [12]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)
print(f'R-squared: {r2:.2f}')

R-squared: 0.37